#include <os2.h>
#include "ids.h"

ICON ID_MAINPROGRAM "program.ico"
ICON ICON_UP        "up.ico"
ICON ICON_DOWN      "down.ico"
ICON ICON_DAY       "day.ico"
ICON ICON_NIGHT     "night.ico"

// String resources are max 255 characters unless otherwise noted.

STRINGTABLE
BEGIN
    IDS_LANG                            "EN"        // change for each translation (2 letters)
    IDS_BTN_OK                          "OK"
    IDS_BTN_CANCEL                      "Cancel"
    IDS_BTN_HELP                        "Help"
    IDS_ABOUT_VERSION                   "Version %s"
    IDS_ABOUT_COPYRIGHT                 "Copyright (C) %s Alex Taylor"
END

STRINGTABLE
BEGIN
    IDS_LOC_UTC                         "(Coordinated Universal Time)"
    IDS_LOC_DEFAULT                     "(Local Time)"
END

STRINGTABLE
BEGIN
    IDS_CFG_PROGRAM                     "Program Configuration"
    IDS_CFG_CLOCK                       "Clock %u - Properties"
    IDS_CFG_COMMONPAGE                  "~Preferences"
    IDS_CFG_CLOCKPAGE                   "~Clock Setup"
    IDS_CFG_STYLEPAGE                   "~Appearance"
END

STRINGTABLE
BEGIN
    IDS_FORMAT_SYSDEF                   "System default"
    IDS_FORMAT_LOCDEF                   "Locale default"
    IDS_FORMAT_LOCALT                   "Locale alternative"
    IDS_FORMAT_CUSTOM                   "Custom string"
END

STRINGTABLE
BEGIN
    IDS_PROMPT_CONFIRM                  "Please Confirm"
    IDS_PROMPT_DELETE                   "Delete clock %u?"
END

STRINGTABLE
BEGIN
    IDS_ERROR_TITLE                     "Error"                     // max. 20
    IDS_ERROR_CLKDATA                   "Failed to get clock data."
    IDS_ERROR_NOTEBOOK                  "Error populating notebook."
    IDS_ERROR_ZONEINFO                  "Unable to read timezone database (%s)."
    IDS_ERROR_CLOCKDATA                 "The clock settings format has changed since your configuration was last saved.\x0d\x0a\x0aIf you select OK, the program will to attempt to migrate your settings; otherwise choose Cancel to exit."
    IDS_ERROR_INI_TITLE                 "Reset Configuration"       // max. 32
END

MENU IDM_POPUP
BEGIN
    MENUITEM "~Program settings...",                ID_CONFIG,          MIS_TEXT //,  MIA_DISABLED
    MENUITEM SEPARATOR
    MENUITEM "~Clock properties...",                ID_CLOCKCFG,        MIS_TEXT
    MENUITEM "~Add clock...",                       ID_CLOCKADD,        MIS_TEXT
    MENUITEM "~Delete clock",                       ID_CLOCKDEL,        MIS_TEXT
    MENUITEM SEPARATOR
    SUBMENU "~Help",                                IDM_HELP,
    BEGIN
        MENUITEM "~General help\tF1",               ID_HELP,            MIS_HELP | MIS_TEXT
        MENUITEM SEPARATOR
        MENUITEM "Product information",             ID_ABOUT,           MIS_TEXT
    END
    MENUITEM SEPARATOR
    MENUITEM "E~xit\tF3",                           ID_QUIT,            MIS_TEXT
END

STRINGTABLE
BEGIN
    IDS_HELP_TITLE          "Universal Clock"
END

ACCELTABLE ID_MAINPROGRAM
BEGIN
    VK_F3,        ID_QUIT,      VIRTUALKEY
END

HELPTABLE ID_MAINPROGRAM
BEGIN
    HELPITEM ID_MAINPROGRAM, HSTB_MAIN, 001
END

HELPSUBTABLE HSTB_MAIN
BEGIN
END

RCINCLUDE "uclock.dlg"

